scikit_image
# git+https://gitlab.com/ideasman42/blender-mathutils.git
git+https://gitlab.com/hojune0303/blender-mathutils.git
# In Python 3.8, There are 2 problems.
# 1. Python 3.8 doesn't have PyModule_AddType()
# Change like this
#   PyModule_AddObject(mod, vector_Type.tp_name,     (PyObject *)&vector_Type);
#	PyModule_AddObject(mod, matrix_Type.tp_name,     (PyObject *)&matrix_Type);
#	PyModule_AddObject(mod, euler_Type.tp_name,      (PyObject *)&euler_Type);
#	PyModule_AddObject(mod, quaternion_Type.tp_name, (PyObject *)&quaternion_Type);
#	PyModule_AddObject(mod, color_Type.tp_name,      (PyObject *)&color_Type);
# 2. from y = _Py_HashDouble(NULL, (double)(array[i++])); code, delete NULL
# mathutils==2.81.2 # ValueError: mathutils.Euler(): invalid euler order 'XYZ'
tqdm==4.19.9
pandas
h5py
matplotlib
scipy
pyquaternion
opencv-python
# cupy_cuda90==6.0.0 # cuda11 use cupy-cuda11x
cupy-cuda11x
pykitti
numpy
tensorboardX
open3d-python
Pillow
scikit-image
torch>=1.10.0
torchvision>=0.11.0
sacred
# -e ./models/correlation_package --no-build-isolation        # Through this --no-build-isolation option, u can compile local env on compile level